* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  display: flex;
  justify-content: center;
  height: 100%;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
  background: linear-gradient(45deg, #576d7d, #577d7a);
}

body {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
  min-width: 320px;
  max-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  background: linear-gradient(#a39bda, #9eabda, #9bb3da, #c29bda);
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2.6rem;
}

/* Profile start */
.profile {
  text-align: center;
}

.profile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #111;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.9);
  animation: backInDown 0.7s ease-out both;
}

.profile .nickname {
  font-size: 1.6rem;
  font-weight: 900;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  animation: backInLeft 1s ease-out both;
}

.profile .bio {
  font-size: 0.8rem;
  font-weight: 700;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  animation: backInRight 1.5s ease-out both;
  margin: 0.6rem 0;
}

.profile .caption {
  margin: 0 0 2rem;
  font-size: 0.8rem;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  font-weight: 700;
  animation: backInRight 1.5s ease-out both;
}
/* Profile end */

/* Link start */
.link {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
  margin-top: 1rem;
}

.link button {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 3rem;
  min-width: 340px;
  max-width: 380px;
  height: 60px;
  background: linear-gradient(45deg, #f5d2ef, #ead2f5);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.link button:hover,
button:active {
  background: linear-gradient(45deg, #f4c8ea, #e4c8f4);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 0.4rem;
}

.link button a {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  color: #111;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.link button img {
  width: 2.8rem;
  height: auto;
}
/* Link end */

/* footer start */
footer {
  padding: 2rem 0;
  margin-top: 2rem;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 700;
  animation: backInUp 1s ease-out both;
}

footer span {
  color: #ff1f22;
}

footer a {
  color: #3149ff;
}
/* footer end */

/* Keyframes buat animasi */
@keyframes backInDown {
  0% {
    opacity: 0;
    transform: translateY(-1200px) scale(0.7);
  }
  80% {
    opacity: 1;
    transform: translateY(0px) scale(1.05);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes backInUp {
  0% {
    opacity: 0;
    transform: translateY(1200px) scale(0.7);
  }
  80% {
    opacity: 1;
    transform: translateY(0px) scale(1.05);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes backInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1200px) scale(0.7); 
  }
  80% {
    opacity: 1;
    transform: translateX(0px) scale(1.05);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes backInRight {
  0% {
    opacity: 0;
    transform: translateX(1200px) scale(0.7); 
  }
  80% {
    opacity: 1;
    transform: translateX(0px) scale(1.05);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

.back-in-left-1s {
  animation: backInLeft 0.9s ease-out both;
}
.back-in-left-2s {
  animation: backInLeft 1.2s ease-out both;
}
.back-in-left-3s {
  animation: backInLeft 1.5s ease-out both;
}
.back-in-left-4s {
  animation: backInLeft 1.8s ease-out both;
}

.back-in-right-1s {
  animation: backInRight 0.9s ease-out both;
}
.back-in-right-2s{
  animation: backInRight 1.2s ease-out both;
}
.back-in-right-3s {
  animation: backInRight 1.5s ease-out both;
}
.back-in-right-4s {
  animation: backInRight 1.8s ease-out both;
}